---
import Layout from '../layouts/Layout.astro';
import ControlBar from '../components/ControlBar.astro';

const twitchChannel = "bioboosterbob"
const title = twitchChannel+" Twitch chat Overlay CONFIG/URL"
---

<Layout title={title}>
	<main>
<!-- INCLUDE CONFIG -->
		<script is:inline src="scripts/config.js"></script>
<!-- HANDLE CONFIG & THEME -->
		<script is:inline>
			if (config.theme != "") {
				document.head.getElementsByTagName("link")[1].href = "themes/"+config.theme+".css"
				console.log("theme applied from config", config.theme)
			}
			let baseUrl = window.location.href.split('demo')[0]
			config.overlayBaseURL = baseUrl
			window.CONFIG = config //Object.freeze(config);
		</script>
<!-- 3rd PARTY -->	
		<script is:inline src="scripts/demo/faker.min.js"></script>	
<!-- ComfyJS MOCK -->
		<script is:inline src="scripts/demo/demo.js"></script>
<!-- BODY -->
		<ControlBar />
		<ul data-twitch-chat={twitchChannel} id="tchat"></ul>
<!-- showmy.chat 3D PARTY SCRIPTS -->
		<script src="scripts/color.js" is:inline></script>
		<script src="scripts/utilities.js" is:inline></script>
		<script src="scripts/handleChat.js" is:inline></script>
	</main>
</Layout>


