---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<ul data-twitch-chat="bioboosterbob"></ul>
	<!-- showmy.chat -->
		<script src="/src/scripts/color.mjs" type="module"></script>
		<script src="/src/scripts/handleChat.mjs" type="module"></script>
		<script src="/src/scripts/utilities.mjs" type="module"></script>
		</main>
</Layout>

<style>
	
</style>
