---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<ul data-twitch-chat="bioboosterbob"></ul>
	<!-- showmy.chat -->
		<script src="scripts/color.js" is:inline></script>
		<script src="scripts/utilities.js" is:inline></script>
		<script src="scripts/handleChat.js" type="module"></script>
		</main>
</Layout>

<style>
	
</style>
