---
const templates =  fs.readdirSync('public/themes');
---

<div id="controlBar">
  Theme: 
  <select id="themes" name="style">
    {
      templates.map( (tpl: any) => (						
        <option value={tpl}>{tpl.replace(/.css/,'')}</option>
      ))
    }
  </select>
  auto: <input type="checkbox" id="autoMessageCheckbox" checked/>
  <input type="button" value="add random message" id="addMessageButton">
  <input type="button" value="dark" id="contrastMode">
  <input type="button" value="Copy URL for OBS" id="getOverlayUrl" style="float: right">
  <dialog id="copied">
    <p>l'url as été copié dans le clipboard</p>
  </dialog>
</div>
<!-- CONTROL BAR JS -->
<script is:inline>
  let overlayUrlText = window.CONFIG.overlayBaseURL+"?template="
  function theme(stylesheet) {
    document.getElementById("tchat").innerHTML = ""
    document.head.getElementsByTagName("link")[1].href = "themes/" + stylesheet
    window.ComfyJS.add()
  }
  const bouton = document.getElementById('addMessageButton')
  bouton.addEventListener('click', () => { 
    window.ComfyJS.add()
  })
  const select = document.getElementById('themes')
  select.addEventListener('change', (e) => {
    theme(e.target.value)
    overlayUrlText = window.CONFIG.overlayBaseURL+"?template="+e.target.value.replace(/.css/,'')
  })
  const auto = document.getElementById('autoMessageCheckbox')
  auto.addEventListener('change', () => {
    window.ComfyJS.add()
  })
  const contrast = document.getElementById('contrastMode')
  contrast.addEventListener('click', (e) => {
    if (e.target.value == "dark") e.target.value = "light"
    else e.target.value = "dark"
  })
  const overlayUrl = document.getElementById('getOverlayUrl')
  overlayUrl.addEventListener('click', async () => {
    try {
      await navigator.clipboard.writeText(overlayUrlText);
      console.log('Content copied to clipboard');
      document.getElementById('copied').showModal()
      setTimeout("document.getElementById('copied').close()", 1000)
    } catch (err) {
      console.error('Failed to copy: ', err);
      overlayUrl.style.background = '#F00'
      setTimeout("overlayUrl.style.background = ''", 1000)
    }
  })
  
  if (window.CONFIG.theme != "") {
    for (let i=0; i < select.children.length; i++) {
      if (select.children[i].value.replace(config.theme,'') != select.children[i].value) {
        select.children[i].selected = true;
        overlayUrlText = window.CONFIG.overlayBaseURL+"?template="+select.children[i].value.replace(/.css/,'')
      }
    }
  }
</script>
<style>
	#copied[open] {
		opacity: .9;
		border-radius: 15px;
	}
	#controlBar {
		position: absolute; 
		top: 5px; 
		left: 5px; 
		z-index:1; 
		width: 90%; 
		margin: 0; 
		margin-left: 50%; 
		transform: translateX(-50%); 
		border: solid 1px; 
		border-radius: 7px; 
		padding: 4px; 
		background-color: rgba(53, 53, 225, 0.7); 
		color: #fff; font-family: Arial, Helvetica, sans-serif; 
		font-size: 16px;
	}
</style>